
<div class="d-flex flex-column gap-5" style="background-color: #DBC1A0;">
    <div class="line" id="Home">
        <div class="side1">
            <h1 style="font-size: 100px;">Fixed UP</h1>
            <div class="wave"> 
                <span style="--i:1">F</span>
                <span style="--i:2">I</span>
                <span style="--i:3">X</span>
                <span style="--i:4">E</span>
                <span style="--i:5">D</span>
                <span style="--i:6">U</span>
                <span style="--i:7">P</span>
            </div>
            <p style="text-align: center;">Always there for you</p>
        </div>
        <div class="side2" >
            <img src="/images/tools.png"width="700">
        </div>
    </div>

    <section class="about" id="My Projects">
        <div class="content">
            <div class="title">
                <span style="color: rgb(17, 14, 14);font-size: 60px;">ABOUT US</span>
            </div>
            <div class="boxes">
                <div class="box">
                    <p>
                        Greetings to all the Geeks out there!
                            We welcome you to the platform where we
                            consistently strive to offer the best 
                            of education. This platform has been 
                            designed for every geek wishing to 
                            expand their knowledge, share their 
                            knowledge and is ready to grab their 
                            dream job. We have millions of articles,
                            live as well as online courses, thousands 
                            of tutorials and much more just for the 
                            geek inside you.Thank you for choosing 
                            and supporting us!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="My Projects" style="height: auto;">
        <div class="content">
            <div class="title">
                <span style="color: rgb(17, 14, 14);font-size: 60px;">CATEGORIES</span>
            </div>
            <div class="images d-flex justify-content-between p-5">
                <div class="d-flex flex-column gap-3">
                    <h3 style="text-align: center;">Welder</h3>
                    <img src="/images/welder.png" alt="welder" style="width: 400px;" routerLink="/welders">
                    <h3 style="text-align: center;">Constractor</h3>
                    <img src="/images/constractor.png" alt="constractor" style="height: 200px;" routerLink="/constructors">
                </div>
                <div class="d-flex flex-column gap-3">
                    <h3 style="text-align: center;">Electrician</h3>
                    <img src="/images/electrician.png" alt="electrician" style="height: 230px;width: 400px;" routerLink="/electricians">
                    <h3 style="text-align: center;">Carpenter</h3>
                    <img src="/images/carpenter.png" alt="carpenter" style="width: 400px;height: 200px;" routerLink="/carpenters">
                </div>
                <div class="d-flex flex-column gap-3">
                    <h3 style="text-align: center;">Plumber</h3>
                    <img src="/images/plumber.png" alt="plumber" style="height: 230px;width: 400px;" routerLink="/plumbers">
                    <h3 style="text-align: center;">Mechanics</h3>
                    <img src="/images/mechanics.png" alt="mechanics" style="height: 200px;width: 400px;" routerLink="/mechanics">
                </div>
            </div>
        </div>
    </section>

    <!-- Footer section -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="index.html"><img src="/images/fixed-up-high-resolution-logo.png" alt="fixedUp" class="img-fluid logo-footer" style="border-radius: 50%;"></a>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <div class="social-links">
                        <h2>Follow Us</h2>
                        <div class="social-icons">
                            <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                        </div>
                    </div>  
                </div>
                <div class="col-md-3">
                    <div class="address">
                        <h2>Address</h2>
                        <div class="address-links">
                            <li><i class="fa-solid fa-location-dot"></i>Tounis-Lac I</li>
                            <li><a href=""><i class="fa-solid fa-phone"></i> +216 25505089</a></li>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </footer>
</div>