html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #176087; 
  }
  
  #root, app-root {
    height: 100%;
  }

  .navbarcostum{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    background-color: rgb(1, 47, 68);
    height: 70px;
  }
  .logoimg{
    width: 100px;
    height: 90px;
  }
  .navbuttons{
    display: flex;
    gap: 30px;
  }