<nav class="navbar">
    <div class="navbar-container">
        <div class="logo-wrapper">
            <img src="images\fixed-up-high-resolution-logo-removebg-preview.png" alt="logo" class="logo">
        </div>
        
        <div class="nav-buttons">
            <button mat-fab extended routerLink="/" class="nav-button">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            
            <button *ngIf="acctype=='Client'" mat-fab extended routerLink="/categories" class="nav-button">
                <mat-icon>category</mat-icon>
                <span>Categories</span>
            </button>

            <button *ngIf="acctype=='Client'" mat-fab extended routerLink="/clientprofile" class="nav-button">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>

            <button *ngIf="!acctype" mat-fab extended routerLink="/login" class="nav-button">
                <mat-icon>login</mat-icon>
                <span>Login</span>
            </button>
            
            <button *ngIf="!acctype" mat-fab extended routerLink="/register" class="nav-button">
                <mat-icon>draw</mat-icon>
                <span>Register</span>
            </button>
            
            <button *ngIf="acctype" mat-fab extended (click)="onLogout()" class="nav-button logout-btn">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </div>
    </div>
</nav>

<router-outlet />