
    <div class="dashboard">
                <div class="dashboard-cards card">
                    <h2>Total Users</h2>
                    <p id="user-count">{{workerslist.length + clientslist.length}}</p>
                </div>
                <section class="users-section">
                    <h2 class="section-header">Workers List ({{workerslist.length}})</h2>

                <div class="table-container">
                    <table id="usersTable">
                        <thead>
                            <tr>
                                <th data-sort="name">Name ↕</th>
                                <th data-sort="date">Date of creation ↕</th>
                                <th data-sort="rating">Rating ↕</th>
                                <th>Address</th>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let worker of workerslist">
                            <td>{{worker.firstName}} {{worker.lastName}} </td>
                            <td> {{worker.createdAt?worker.createdAt:"Joining date is not available"}} </td>
                            <td> if worker.rating["rating"] == None 0 else worker.rating</td>
                            <td>{{worker.address}} </td>
                            <td>{{worker.category}}</td>
                            <td> <a class="btn btn-danger" (click)="deleteworker(worker._id)" >delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="users-section">
                <h2 class="section-header">Clients List ({{clientslist.length}})</h2>
                <div class="table-container">
                    <table id="usersTable">
                        <thead>
                            <tr>
                                <th data-sort="name">Client Name ↕</th>
                                <th data-sort="date">Date of creation ↕</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clientslist">
                            <td> {{client.firstName}} {{client.lastName}}  </td>
                            <td> {{client.createdAt?client.createdAt:"Joining date is not available"}} </td>
                            <td>
                                <a class="btn btn-danger"   (click)="deleteclient(client._id)" >delete</a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            

